.authMenu .navbar-nav > li > a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


nav.authMenu li {
    display: inline-block;
}

form:not(#addComment), main, section {
    background-color: rgba(255,255,255,0.85);
}

form h1, form h2, form h5 {
    text-align: center;
}

body {
    background-image: url("../images/fresh-red-bell-pepper-wooden-plank-against-background-kitchen-interior.jpg");
    /* background-image: url("https://i.pinimg.com/originals/65/4d/93/654d939d992caf8156342868b9f6e735.jpg");

    */
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-size: cover;
}

div > i {
    font-size: 1.3rem;
    color: #82d78c;
}

.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}

.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #82d78c;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.socialButton button {
    font-weight: bold;
}

.socialButton i {
    font-size: 1.3rem;
}

button:disabled {
    opacity: 1.0 !important;
}

i + span {
    font-weight: bold;
}

.card a {
    text-decoration: none;
}

.authMenu a {
    font-weight: bold;
}

.homePage i {
    color: #d2556e;
}

.homePage h3 {
    color: #d2556e !important;
}

.card span.badge {
    background-color: #d2556e !important;
}