<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="index :: head">
  <title id="pageTitle">Log In | Recipe Network</title>
</head>
<body>
<header th:replace="index :: header"></header>
<div class="container">
  <form class="p-3 my-3 border rounded" th:action="@{/login}"
        method="post" style="max-width: 500px; margin: 0 auto;">
    <div>
      <h1>Log In</h1>
    </div>
    <div class="m-3">
      <div class="form-floating row mb-3">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required />
        <label for="email">E-mail</label>

      </div>

      <div class="form-floating row mb-3">
        <input type="password" name="password" id="password" class="form-control"
               required minlength="6" maxlength="100" placeholder="Password"/>
        <label for="password">Password</label>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>

    </div>
  </form>
</div>
</body>
</html>